{{#if visible}}
  <div class="astrobanner astrobanner_{{unbound slotTrim}}">
  	<a target="_blank" href="https://astrobanner.com/b/{{unbound siteId}}"><img class="astrobanner-img" src="https://astrobanner.com/a/{{unbound siteId}}.jpg"/></a>
  </div>
{{/if}}